<div class="col-md-6" *ngIf="cv; else noCvSelected">
  <div class="card-container">
    <div class="card">
      <div class="front">
        <div class="cover">
          <img src="./assets/images/rotating_card_thumb.jpg" alt="Cover Image1" class="img-fluid">
        </div>
        <div class="user">
          <img 
            class="img-circle" 
            src="./assets/images/rotating_card_profile2.png" 
            alt="Profile Image" 
            class="img-fluid"
          >
        </div>
        <div class="content">
          <div class="main text-center">
            <h3 class="name">{{ cv.name }}</h3>
            <p class="profession text-muted">{{ cv.job }}</p>
            <p class="text-muted">CIN: {{ cv.cin }}</p>
            <p class="text-muted">Age: {{ cv.age }}</p>
          </div>
        </div>
      </div>
      
      <div class="back">
        <div class="header text-center">
          <h5 class="motto">Profil de l'enseignant</h5>
        </div>
        
        <div class="content text-center">
          <h4 class="text-dark">Détails du CV</h4>
          <p class="text-muted">Nom: {{ cv.name }} {{ cv.firstname }}</p>
          <p class="text-muted">Profession: {{ cv.job }}</p>
        </div>
        
        <div class="footer mt-3 text-center">
          <button class="btn btn-primary me-2" (click)="Embaucher(cv)">Embaucher</button>
          <button class="btn btn-secondary" [routerLink]="['/cv_details', cv.id]">Voir Détails</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noCvSelected>
  <p class="text-muted text-center">Sélectionnez un CV pour voir les détails.</p>
</ng-template>
