<div class="container mt-5">
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          [ngClass]="{ 'is-invalid': isFieldInvalid('email') }"
          formControlName="email"
        />
        <div class="invalid-feedback" *ngIf="isFieldInvalid('email')">
          Veuillez entrer un email valide.
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          [ngClass]="{ 'is-invalid': isFieldInvalid('password') }"
          formControlName="password"
        />
        <div class="invalid-feedback" *ngIf="isFieldInvalid('password')">
          Le mot de passe doit contenir au moins 4 caractères.
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block mt-3" [disabled]="!authForm.valid">
        Envoyer
      </button>
    </form>
  </div>
  