<div *ngIf="cv" class="container mt-4">
    <div class="card shadow-lg">
      <div class="row g-0">
        <div class="col-md-4 d-flex align-items-center justify-content-center bg-light">
          <img
          src="./assets/images/rotating_card_profile2.png"
            alt="Profile Image"
            class="img-fluid rounded-circle border border-2"
            style="width: 150px; height: 150px"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h2 class="card-title text-primary mb-2">{{ cv.name }} {{ cv.firstname }}</h2>
            <h5 class="text-muted mb-3"><strong>Profession :</strong> {{ cv.job }}</h5>
            <p><strong>CIN :</strong> {{ cv.cin }}</p>
            <p><strong>Âge :</strong> {{ cv.age }} ans</p>
            <div class="mt-4">
              <button class="btn btn-danger me-2" (click)="deleteCv()" type="button">
                <i class="bi bi-trash-fill"></i> Supprimer
              </button>
              <button class="btn btn-secondary" routerLink="/cv_platforme" type="button">
                <i class="bi bi-arrow-left"></i> Retour à la liste
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  